<mat-toolbar>
    <mat-toolbar-row>
        <h1>Book My Meal</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item>Notifications</a>
            <a mat-list-item>Change Password</a>
            <a mat-list-item>About</a>
            <a mat-list-item>Terms and Conditions</a>
            <a mat-list-item>Privacy Policy</a>
            <a mat-list-item (click)= "logout()">Logout</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 45vh;">
        <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


